<!doctype html>
<html>
<head>
  <title>ABOUT</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css'%}">
  <link rel="icon" href="{% static 'images/favicon1.jpg'%}">
  <style>
  body,html{
  background-image:url("{% static 'gadgets/gad.jpg'%}");
  background-repeat: no-repeat;
  background-size: cover;
  }
  #abt{
    color:black;
    width: 50%;
    margin-left: 20%;
    font-family: cursive;
    font-size:15px;
    padding: 5%;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    border-radius: 12px;
  }

  #ai{
    border-radius: 50%;
    float:left;
    width: 10%;
    height: 10%;
    padding: 4% 2%;
  }
</style>
  </head>
<body>
  <header>
    <h1>Electronics and Communication</h1>
  </header>
  <nav class="navbar">
  <a href="{% url 'home' %}"><img id="logo" src="{% static 'images/logo.jpg'%}"></a>
  <a class="menu" href="{% url 'home' %}">Home</a>
  <a class="menu" href="{% url 'career' %}">Career</a>
  <a class="menu" href="{% url 'courses' %}">Courses</a>
  <a class="menu" href="{% url 'gadgets' %}">Gadgets</a>
  <a class="menu" href="{% url 'about' %}">About</a>


</nav>

<div id="abt">
  <h2 style="font-family:consolas; color:grey; text-align:center;font-size:30px;">ABOUT US</h2>
  <div>
    <a href="{% url 'home'%}"><img id="ai" src="{% static 'images/favicon1.jpg'%}" alt="Icon"></a>
    <div>

  <p>Electronics and Communication Engineering is considered as the backbone of the modern communication system. 
    In the current scenario, modern applications like the Internet of Things (IoT), Robotics, and Embedded Systems are highly dependent on the knowledge of ECE.
  </p>
  <br>
  <p>In This website: </p>
  <p> Information on Electronics and Communication are available here.</p>
  <p>Carrer opportunities of Electronics and Communication</p>
  <br>
  <p style="font-size:30px;font-family:Courier New;">The fantastic advances in the field of 
    electronic communication constitute a greater danger to the privacy of the individual.<br>---Earl Warren---

  </p>

  <p id="det">
    Mail-ID : mettupranitha18@gmail.com<br>
   </p>

  </div>


<footer>
  <p>&copy ECE<br>All Rights Reserved.</p>
</footer>

</body>


</html>
