<!doctype html>
<html>
<head>
  <title>CAREER</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css'%}">
  <link rel="icon" href="{% static 'images/favicon1.jpg'%}">
  <style>
  body,html{

  background: linear-gradient(to right, #360033, #0b8793);
  background-size: cover;
  height:100%;
  }

  section{
    color: white;
    text-align: center;
    font-family: cursive;
  }
  #career{
    width: 320px;
    height: 180px;
    border-radius: 10px;
    float: left;
  }
  #career:hover{
    box-shadow: 0 3px 5px grey;
  }
#appli{
  text-align: left;
  font-size: 12px;
}


</style>

 </head>
<body>
  <header>
    <h1>Electronics and Communication</h1>
  </header>
  <nav class="navbar">
  <a href="{% url 'home' %}"><img id="logo" src="{% static 'images/logo.jpg'%}"></a>
  <a class="menu" href="{% url 'home' %}">Home</a>
  <a class="menu" href="{% url 'career' %}">Career</a>
  <a class="menu" href="{% url 'courses' %}">Courses</a>
  <a class="menu" href="{% url 'gadgets' %}">Gadgets</a>
  <a class="menu" href="{% url 'about' %}">About</a>


</nav>
<section>
    <h2>Career Opportunities in Electronics and Communication</h2><br><hr>
<div>
    <img id="career" src="{% static 'images/tele.jpeg'%}" alt="Telecom img">
    <h3>1. Telecom Engineer</h3>
<p>Telecommunication involves electronic communication systems, optical cables, IP networks and also the old telephone service 
  equipment, microwave transmission cables etc. Just like a communication engineer, a telecom engineer is also responsible for 
  analysing and designing new technologies that benefit their customers, and researching the ongoing services to upgrade the facilities</p>
<p>Telecom works in almost all the industries around the world, and is a very sought after field when it comes to reliability in the coming years.</p><hr>
</div>


<div>
  <img id="career" src="{% static 'images/r&d.jpeg'%}" alt="R&D img">
  <h3>2. R&D Software Engineer</h3>
  <p> The Research and Development Software Engineer creates, designs and tests new products for the software systems. Technical skills like 
    automation, knowledge of mechanical and process controls are add ons.</p>
  <p>Since all the major industries in India and abroad tend to focus on their overall research and development, at every point, when it 
    comes to softwares and electronics, this profile opens a very wide field of company options to choose from, that too the most reputed ones!</p><hr>
   </div>

   <div>
   <img id="career" src="{% static 'images/soft.png'%}" alt="Software img">
   <h3>3. Software Analyst</h3>
   <p>As is evident from the name of this profile, a software analyst’s job is to run, design, create, and test new & existing software for the organisation. 
    This focuses on, but is not limited to, mediating between the software users and the software developers.</p>
      <p>The major task is to manage the software’s algorithms according to the customers’ needs and constant updates or modifications, to make them 
        more user friendly.</p><hr>
      </div>
  <div>
    <img id="career" src="{% static 'images/elec.webp'%}" alt="Electronic img">
    <h3>4. Electronic Design Engineer</h3>
    <p>To design electronic devices and equipment according to consumer’s requirements is the most brief description of this job profile. 
      This works in accordance with the business and industry needs, clients’ objectives to modify the layout of an electronic design.</p>
      <p>Managing all of the electronic equipment of an organisation, testing, developing the products keeping in mind the 
        cost-effectiveness (of course) and favourable factors.</p><hr>
</div>

<div>
  <img id="career" src="{% static 'images/desktop.png'%}" alt="Desktop img">
  <h3>5. Desktop Support Engineer</h3>
  <p>Server errors and security issues are two of the most common things that arise in every business or industry, be it small or large. 
    A desktop support engineer is there to resolve such errors in computer systems for the people who rely on technological hardware, 
    which in true sense, is almost the entire team! Most of the work in the organisations nowadays is done through computers, which is by 
    far the fastest means when it comes to advanced technology, these server errors are bound to happen!
  </p>
    <p>This is why the role of a desktop support engineer is of utmost importance to the entire company’s work.</p><hr>
  </div>

  <div>
    <img id="career" src="{% static 'images/tech.webp'%}" alt="Technical img">
    <h3>6. Technical Director</h3>
    <p>A director is known to direct, supervise the company’s overall strategies, and a technical director in that sense, for a software 
      engineering firm, is the one who looks after the tech-end part of the team. This is a high-profile well paying job, since the role is 
      crucial for the business growth of the organisation. Assuring that the client requirements are met through the best quality deliverables,
       a technical director handles the team of its engineers, which means some or the other form of experience is necessary for this profile.
    </p>
      <p>One can usually get promoted to this post after a few years of working in a similar field as communication or electronics engineer, 
        and it is definitely the goal of most of the tech- enthusiasts!</p><hr>
</div>

<div>
  <img id="career" src="{% static 'images/net.jpeg'%}" alt="Network img">
  <h3>7. Network Planning Engineer</h3>
  <p>As is very evident from the name, a network planning engineer is responsible to maintain the computer networks for the company. 
    They ensure the network reliability, feasibility, and ease for the tech-team so the operations run smoothly.
  </p>
    <p>The basic skills include network planning, security, internet, software, and the basic knowledge of hardware infrastructure etc.</p>
    <br>
    <br>
    <hr>
  </div>

<div>
  <img id="career" src="{% static 'images/sales.jpeg'%}" alt="Sales manager img">
  <h3>8. Sales Manager</h3>
  <p>One can link the job profile of a sales manager with multiple domains, but when it comes to electronics and communication engineering (ECE), 
    the basic role includes growth and sales by achieving targets, selling the products, and managing the sales team. This includes devising new ideas, 
    goal-setting, checking the overall performance, and annual growth, and comparison of the organization’s profit charts for the previous years. 
    This can also widen to analyzing the graphs to form ideations for the upcoming financial years, and working towards them to improve the overall 
    growth of a company.</p>
  <p>The sales manager role in ECE is obviously not limited to this branch of engineering only and is open to switching industries. This is a highly 
    advantageous factor for this profile, as you can always use your experience as a sales manager in any previous industry and can still switch to 
    similar (but not exactly the same) industries.</p><hr>

    </div>

    <div>
      <img id="career" src="{% static 'images/ser.jpg'%}" alt="Service Engineer img">
      <h3>9. Service Engineer</h3>
      <p>Whatever the equipment used in a company, they always require servicing. When it comes to electronics and communication, telecom products, 
        and computer systems often require a team to maintain the working of the machinery. This can also mean repairing and servicing for the company’s 
        team or even for the customers.</p>
        <br>
        <br>
        <br>
        <hr>
      </div>

      <div id="appli">
        <h3 style="text-align:center; font-size:20px;">Applications of Electronics in Daily Life<h3>
          <ul>
      <li>Consumer Electronics</li>
      <li>Industrial Electronics</li>
      <li>Image Processing</li>
      <li>Medical Applications</li>
      <li>Mobile phones, iPod and Tablets</li>
      <li>Wi-Fi and the Internet</li>
      <li>Digital sound or Music</li>
      <li>Smart Grid Systems</li>
      </ul>
    </div>
</section>

<footer>
  <p>&copy ECE<br>All Rights Reserved.</p>
</footer>

</body>


</html>
